* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: DRAGON HUNTER;
    overflow: hidden;
}

#main {
    height: 100%;
    width: 100%;
}

.screen {
    height: 100%;
    width: 100%;
    background-color: rgb(112, 28, 28);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all ease-in-out 1s;
}

.screen h1 {
    font-size: 6vw;
    text-transform: uppercase;
    font-family: DRAGON HUNTER;
    color: white;
}

.screen button {
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    color: white;
    font-family: gilroy;
    border-radius: 10px;
    margin-top: 20px;
    border: 2px solid white;
    cursor: pointer;
    background-color: rgb(112, 28, 28);
    box-shadow: 10px 10px 20px black;

}

button:active {
    scale: 0.95;
}

button:hover {
    background: linear-gradient(white, pink);
    color: black;
}

.screen h2 {
    font-size: 4vw;
    text-transform: uppercase;
    font-family: DRAGON HUNTER;
    color: white;
}

.photo #image {
    height: 150px;
    width: 150px;
    margin-right: 20px;
    border: 1px solid rgb(255, 255, 255);
    transition: all ease-in-out 2s;
    box-shadow: 10px 10px 20px black;
    background-color: transparent;
    cursor: grab;
}

.photo {
    display: flex;
    margin-top: 20px;
}

#image img {
    height: 100px;
    width: 100px;
    margin-left: 25px;
    margin-top: 20px;
    background: transparent;
}

#image:hover {
    background: linear-gradient(white, pink);
}

#image:hover h3 {
    color: black;
}

#image h3 {
    color: white;
    margin-left: 50px;
}

#nav {
    height: 80px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 1px solid black;
}

#playground {
    height: 90%;
    width: 100%;
    background-color: rgb(112, 28, 28);
    display: flex;
    align-items: center;
    justify-content: center;

}

#playground img {
    height: 100px;
    position: absolute;
}